* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #388e3c;
    font-family: 'Rubik', sans-serif;
}

.login-form {
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.login-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
}

.login-form h2 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
}

.login-form .content {
    padding: 35px;
    text-align: center;
}

.login-form .input-field {
    padding: 12px 5px;
}

.login-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    padding: 10px 1px;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
}

.login-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
}

.login-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
}

.login-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
}

.login-form .input-field input::placeholder {
    text-transform: uppercase;
}

.login-form .input-field input:focus {
    border-color: #222;
}

.login-form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
}

.login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.login-form .action button, .boton-rechazar {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.login-form .action button:hover, .boton-rechazar:hover {
    background: #d8d8d8;
}

.login-form .action button:nth-child(2), .boton-aceptar {
    background: #2d3b55;
    color: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
}

.login-form .action button:nth-child(2):hover, .boton-aceptar:hover {
    background: #3c4d6d;
}

.imagen {
    width: 150px;
    height: auto;
}

.imagen:hover {
    transform: scale(1.5);
    transition-duration: 500ms;
    opacity: 0.8;
}

.imagen2:hover {
    transform: scale(1.2);
    transition-duration: 500ms;
    opacity: 0.8;
}

.logo-image {
    height: 5vh;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.icono:hover {
    transform: scale(1.5) rotate(10deg);
    /* Agranda las veces quee esta entre parentesis */
    transition-duration: 400ms;
}

.imagen {
    width: 250px;
    height: auto;
}

.imagen:hover {
    transform: scale(1.5);
    transition-duration: 500ms;
    opacity: 0.8;
}

.logo-image {
    height: 5vh;
    width: auto;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.footer {
    background: #f7f7f7;
    min-height: 240px;
    /* EL MIN-HEIGHT ES LO QUE HACE AL FOOTER RESPONSIVE */
    color: grey;
    width: 100%;
    background-size: cover;
    font-family: 'Lato', sans-serif;
}

.trayecto-form {
    background: #fff;
    width: 90%;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.line {
    width: 40%;
    margin-left: 0
}

.fa-trash-o {
    color: gray;
}

.fa-trash-o:hover {
    color: red;
    cursor: pointer;
}

.acept {
    background: #fff;
    width: 90%;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    padding: 2%;
}

.boton-rechazar {
    width: 100%;
    border: none;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-radius: 4px;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.boton-rechazar:hover {
    background: #d8d8d8;
}

.boton-aceptar {
    width: 100%;
    border: none;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #2d3b55;
    color: #fff;
    border-radius: 4px;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.boton-aceptar:hover {
    background: #3c4d6d;
}