{{#partial "contenido"}}
<div class="row mx-1 mb-2">
    <div class="col-lg-7 p-0">
        <div id="carouselExampleControls" class="carousel slide opacity-75" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/huellacarbono1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="./images/huellacarbono2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/huellacarbono3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    </div>
    <div class="col-lg-5 p-0">
        <div class="container-fluid bg-light p-2 ps-3 h-100 rounded-end" style="--bs-bg-opacity: .25;">
            <h3>¿Qué es la Huella de Carbono?</h3>
            <p> La Huella de Carbono (HC) es un instrumento que permite estimar las emisiones de gases efecto invernadero (GEI) emitidos por un individuo, organización, evento o producto. El cálculo consiste en recopilar los datos referentes a los consumos directos e indirectos de insumos materiales y energía, y traducirlos en emisiones de CO2 equivalentes.
            </p>
        </div>
    </div>
</div>
<div class="card-group">
  <div class="card bg-light py-1" style="--bs-bg-opacity: .25;">
    <div class="card-body">
      <h3 class="card-title border-bottom border-dark">Objetivo General</h3>
        <p class="card-text">Guiar a otras instituciones, y a aquellas personas, que interesadas en participar activamente en la mitigación del cambio climático, quieran utilizar este instrumento de estimación de emisiones de GEI, como punto de partida, para diseñar e implementar medidas de reducción.</p>
    </div>
  </div>
  <div class="card bg-light py-1" style="--bs-bg-opacity: .25;">
    <div class="card-body">
      <h3 class="card-title border-bottom border-dark">Cambio climático</h3>
      <p class="card-text">
        Por cambio climático se entiende un cambio en el clima atribuido directa o indirectamente a la actividad humana, que altera la composición de la atmósfera mundial y que se suma a la variabilidad natural del clima. En los últimos años la preocupación por el origen antropogénico de los GEI es cada vez más creciente, a fin de identificar los focos de emisión y desarrollar y planificar estrategias necesarias para su reducción.</p>
    </div>
  </div>
  <div class="card bg-light py-1" style="--bs-bg-opacity: .25;">
    <div class="card-body">
      <h3 class="card-title border-bottom border-dark">Compromisos internacionales</h3>
      <p class="card-text">Para poder hacer frente a los problemas ambientales de escala mundial, se necesitan acuerdos entre Estados, que permitan la construcción de soluciones y estrategias para el mediano y largo plazo, en pos de la construcción de soluciones y estrategias colectivas.</p>
    </div>
  </div>
</div>

<div class="container-fluid bg-light py-3 my-3 rounded" style="--bs-bg-opacity: .25;">
    <h3 class="border-bottom border-dark">Sugerencias y recomendaciones</h3>
    <div class="card bg-light border-dark mb-2" style="--bs-bg-opacity: .3;">
        <div class="card-header border-dark pb-0">
            <h4>Eficiencia Energética</h4>
        </div>
        <div class="card-body pt-0">
            <p class="card-text">Es la capacidad de lograr los mismos servicios con el menor uso de recursos posibles. Por tanto se puede hacer uso de la herramienta para calcular las emisiones completando la primera solapa para conocer cuáles son los consumos  más  representativos  y  hacer  un  seguimiento  de  las medidas/estrategias que se realicen.
            </p>
        </div>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item bg-light" style="--bs-bg-opacity: .1;">
            <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed bg-light" style="--bs-bg-opacity: .25;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Mismas actividades, menos energía
            </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ol>
                    <li>Sensibilizar a la comunidad sobre la importancia de apagar las luces cuando no son utilizadas, o bien cuando la luz natural proporciona una iluminación suficiente.</li>
                    <li>Revisar periódicamente las luminarias, desconectar aquellas que no sean necesarias.</li>
                    <li>Se pueden instalar sistemas de control de ocupación, que permiten la conexión y desconexión de la iluminación en función de la existencia o no de usuarios en las áreas objeto de control, o bien dependiendo de la luz diurna disponible.</li>
                    <li>Para un mejor funcionamiento de los procesos de climatización se recomienda optimizar el aislamiento térmico de la unidad funcional en cuestión.</li>
                    <li>Si cuenta con equipos de calefacción y refrigeración central, revisar periódicamente su funcionamiento para optimizar su utilización.</li>
                    <li>Aprovechar la luz natural: para lo cual es recomendable que las paredes estén pintadas de colores claros, y mantener limpias ventanas y claraboyas para garantizar una mejor entrada de la luz.</li>
                    <li>En verano es recomendable utilizar persianas y toldos en ventanas que permitan administrar la incidencia de la r adiación solar, y por lo tanto, ahorrar el consumo de energía para la climatización.</li>
                </ol>
            </div>
            </div>
        </div>
        <div class="accordion-item bg-light" style="--bs-bg-opacity: .1;">
            <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed bg-light" style="--bs-bg-opacity: .25;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Transporte
            </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ol>
                        <li>Promover e incrementar el uso del transporte público.</li>
                        <li>Traslados a pie.</li>
                        <li>Utilización de bicicletas para las distancias cortas.</li>
                        <li>Mejora de ciclo vías en el entramado urbano.</li>
                        <li>Estaciones de bicicletas de uso público.</li>
                        <li>Mejorar los estacionamientos de las bicicletas en los ámbitos laborales.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="accordion-item bg-light" style="--bs-bg-opacity: .1;">
            <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed bg-light" style="--bs-bg-opacity: .25;" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Reemplazo de tecnologías
            </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ol>
                        <li>Utilizar lámparas de bajo consumo puede generar hasta un 75% de ahorro.</li>
                        <li>Utilizar lámparas led reduce emisiones y el consumo energético hasta un 85%.</li>
                        <li>Complementar la instalación de calefones/termotanques a gas natural con termotanques solares.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
            
    
</div>
{{/partial}}

{{>footer.hbs}}
{{>layout.hbs}}