{{#partial "contenido"}}
    <div class="container mt-5">
        <h2 class="text-center fw-bold" id="about" name="about">About us</h2>
        <div class="row mt-5">
            <!-- La suma de las columnas tiene que dar 12 SIEMPRE -->
            <div class="col-xl-8 col-lg-6 col-xs-12 p-3">
                <p class="text-black text-justify">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci ratione blanditiis magnam facilis
                    nesciunt incidunt, asperiores explicabo provident excepturi! Totam tempore delectus mollitia magni
                    dignissimos? Exercitationem cumque consectetur ipsum dolores nam provident laborum! Iure dicta earum
                    iusto odio quos porro possimus! Odio corporis quibusdam veniam possimus enim, reprehenderit alias
                    laboriosam.
                </p>
            </div>
            <div class="col-xl-4 col-lg-6 col-xs-12 p-5 d-flex justify-content-center">
                <a href="/home"><img class="imagen" style="border-radius: 8%;" src="images/logo.png"
                                     alt="Aviso de imagen rota"></a>
            </div>
        </div>
        <hr>
        <section id="orgVinculadas" name="orgVinculadas" class="container mt-5">
            <h2 class="text-center fw-bold">Organizaciones vinculadas</h2>
            <div class="row mt-5">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-6 col-xs-12 p-5 d-flex justify-content-center">
                        <a href="/home"><img class="mx-auto d-block imagen2" src="images/utn-logo.png" width="60%"
                                             alt="Aviso de imagen rota"></a>
                    </div>
                    <div class="col-xl-7 col-lg-6 col-md-8 align-items-center">
                        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, quaerat
                            perspiciatis reiciendis obcaecati iusto veritatis eos laudantium quibusdam! Quae, excepturi
                            numquam facere dolorum dolor quis nostrum! Ut blanditiis nulla reprehenderit?
                            Aliquam corporis exercitationem dolor illum. Natus deleniti delectus quis voluptatem
                            doloremque quidem! Eius rerum, facere magnam fugit earum impedit odit, ad iure voluptas
                            mollitia rem neque aspernatur enim dolor doloribus.
                            Excepturi laudantium aperiam temporibus nemo. Blanditiis consequatur totam rem.
                            Necessitatibus mollitia, consectetur quaerat fuga odio veritatis quis consequatur velit
                            dolor. Id beatae modi repellendus consequuntur voluptatibus, numquam pariatur assumenda
                            itaque?</p>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <div class="login-form">
            <form>
                <h1>¡Contáctanos!</h1>
                <div class="content">
                    <div class="input-field">
                        <input type="nombre" placeholder="Nombre Completo" autocomplete="nope"/>
                    </div>
                    <div class="input-field">
                        <input type="email" placeholder="Correo electronico" autocomplete="nope"/>
                    </div>
                    <div class="input-field">
                        <input type="comentario" placeholder="Comentario" autocomplete="nope"/>
                    </div>
                </div>
                <div class="action">
                    <button>Enviar 📩</button>
                </div>
            </form>
        </div>
    </div>
{{/partial}}

{{#partial "mensaje"}}
<div class="container-fluid bg-light" style="--bs-bg-opacity: .5;">
    <h2 class="ms-4 p-1">Bienvenido {{usuario_logueado}}!</h2>
</div>
{{/partial}}

{{>footer.hbs}}
{{>layout.hbs}}