{{#partial "contenido"}}
<div class="login-form w-100">
    {{#if tipo_reporte}}
    <h2>Reporte de {{tipo_reporte}}</h2>
    {{else}}
    <h2>Seleccione un tipo de reporte:</h2>
    {{/if}}
    <div class="container-fluid d-flex justify-content-center border border-1 p-2">
        <a class="btn btn-secondary mx-2" href="/user/admin/reportes/hcTotal" role="button" id="hcTotal">HC Total</a>
        <a class="btn btn-secondary mx-2" href="/user/admin/reportes/evolucion" role="button"  id="evolucion">Evolución</a>
        <a class="btn btn-secondary mx-2" href="/user/admin/reportes/composicion" role="button"  id="composicion">Composición</a>
    </div>
    {{#block "form"}}
    {{/block}}
    {{#block "resultado"}}
    {{/block}}
</div>
{{#block "script"}}
{{/block}}
<script>
    let reporte = "{{tipo_reporte}}"
    cambiarSeleccionReporte(reporte)
</script>
{{/partial}}

{{>layout.hbs}}