{{#partial "contenido"}}
  <div class="login-form">
    <form action="/session" method="POST">
      <h1>Login</h1>
      <div class="content">
        <div class="input-field">
          <input type="text" placeholder="Usuario" autocomplete="nope" name="nombre" value="{{ nombre }}" />
        </div>
        <div class="input-field">
          <input type="password" placeholder="Contraseña" autocomplete="new-password" name="password" value="{{ password }}" />
        </div>
      </div>
      {{#block "error"}}
      {{/block}}
      <div class="action">
        <button>Registrarse</button>
        <button type="submit">Loguearse</button>
      </div>
    </form>
  </div>
{{/partial}}

{{>layout.hbs}}