{{#partial "error"}}
<div class="mt-0 mb-2 ml-3">
    <a class="error-msg" style="background: white; color: red; text-align: center; vertical-align: middle; text-decoration: none;">
        Hubo un error en el logueo. Revise el usuario y la contraseña
    </a>
</div>
{{/partial}}

{{>login.hbs}}