{{#partial "contenido"}}
    <div class="login-form">
        <h2>Registrar medición</h2>
        <div class="container d-flex justify-content-center border border-1 p-2">
            <a class="btn btn-secondary mx-2" href="/user/me/registrarMedicionParticular" role="button">Particular</a>
            <a class="btn btn-primary mx-2" href="/user/me/registrarMedicionCsv" role="button">CSV</a>
        </div>
        <div class="m-3 mb-4 col-11 justify-content-center">
            <label for="formFile" class="form-label">Seleccione un archivo CSV</label>
            <input class="form-control" type="file" id="formFile" accept=".csv">
        </div>
        <div class="action">
            <button type="submit" class="btn btn-secondary">Registrar</button>
        </div>
    </div>
{{/partial}}

{{>layout.hbs}}