{{#partial "contenido"}}
    <div class="login-form">
        <h2>Registrar medición</h2>
        <div class="container d-flex justify-content-center border border-1 p-2">
            <a class="btn btn-primary mx-2" href="/user/me/registrarMedicionParticular" role="button">Particular</a>
            <a class="btn btn-secondary mx-2" href="/user/me/registrarMedicionCsv" role="button">CSV</a>
        </div>
        <div class="m-3 mb-4 col-11 justify-content-center">
            <select class="form-select h-50">
                <option selected hidden>Seleccione tipo de consumo</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            <div class="d-flex p-1">
                <label for="valor" class="form-label">Valor:</label>
                <input class="ms-auto" type="text" name="valor" id="valor">
            </div>
            <div class="d-flex p-1">
                <label for="periodicidad" class="form-label">Periodicidad:</label>
                <input class="ms-auto" type="text" name="periodicidad" id="periodicidad">
            </div>
            <div class="d-flex p-1">
                <label for="periodoImputacion" class="form-label">Periodo imputación:</label>
                <input class="ms-auto" type="text" name="periodoImputacion" id="periodoImputacion">
            </div>
            <div class="d-grid gap-2 mt-4">
                <input class="btn btn-secondary" type="submit" value="Registrar">
            </div>
        </div>
    </div>
{{/partial}}

{{>layout.hbs}}