{{#partial "form"}}
  <div class="content">
    <form action="/user/me/reportes/evolucion" method="POST">
    <div class="row justify-content-left" style="margin: 15px 0px 15px 0px;">
        <div class="col-md-9 text-start d-flex" style="padding-left: 0px">
            <h5>Seleccione tipo de entidad: </h5>
            <div class="d-md-flex ms-1">
              <div class="form-check mx-1">
                  <input class="form-check-input" type="radio" name="tipo-entidad" id="organizacion" onclick="obtenerOrganizaciones()">
                  <label class="form-check-label" for="organizacion">
                      Organización
                  </label>
              </div>
              <div class="form-check mx-1">
                  <input class="form-check-input" type="radio" name="tipo-entidad" id="sector">
                  <label class="form-check-label" for="sector">
                      Sector Territorial
                  </label>
              </div>
            </div>
        </div>
        <div class="col-md-3 p-0 d-flex">
            <select class="form-select ms-auto" id="entidad" name="entidad" required disabled>
              <option hidden>Seleccione Entidad:</option>
              {{#each organizaciones}}
                <option value="{{ id }}">{{ razonSocial }}</option>
              {{/each}}
              <!--<option value="0">Org1/Sector1</option>
              <option value="1">Org2/Sector2</option>
              <option value="2">Org3/Sector3</option>-->
            </select>
        </div>
    </div>
    <div class="row" style="margin: 15px 0px 15px 0px;">
        <div class="col-md-4 text-start d-flex" style="padding-left: 0px">
            <h5>Seleccione periodicidad:</h5>
            <div class="d-md-block d-sm-flex m-1">
              <div class="form-check mx-sm-1">
                  <input class="form-check-input" type="radio" name="periodicidad" id="anual" value="anual">
                  <label class="form-check-label" for="anual">
                      Anual
                  </label>
              </div>
              <div class="form-check mx-sm-1">
                  <input class="form-check-input" type="radio" name="periodicidad" id="mensual" value="mensual">
                  <label class="form-check-label" for="mensual">
                      Mensual
                  </label>
              </div>
            </div>
        </div>
        <div class="col-md-8 d-sm-flex d-block justify-content-between">
          <div class="d-flex m-0 align-items-center">
            <label class="form-label m-0" for="anio1"><h5 class="m-0">Año inicio:</h5></label>
            <input type="number" min="1" max="2022" id="anio1" name="anio1" class="form-control ms-auto p-1" style="width: 75%;"/>
          </div>
          <div class="d-flex m-0 align-items-center">
            <label class="form-label m-0" for="mes1"><h5 class="m-0">Mes inicio:</h5></label>
            <input type="number" min="1" max="12" id="mes1" class="form-control ms-auto p-1" style="width: 75%;"/>
          </div>
          <div class="d-flex m-0 align-items-center">
            <label class="form-label m-0" for="anio2"><h5 class="m-0">Año fin:</h5></label>
            <input type="number" min="1" max="2022" id="anio2" name="anio2" class="form-control ms-auto p-1" style="width: 75%;"/>
          </div>
          <div class="d-flex m-0 align-items-center">
            <label class="form-label m-0" for="mes2"><h5 class="m-0">Mes fin:</h5></label>
            <input type="number" min="1" max="12" id="mes2" class="form-control ms-auto p-1" style="width: 75%;"/>
          </div>
          <div class="d-flex m-0 align-items-center">
            <label for="unidad" class="form-label m-0"><h5 class="m-0">Unidad:</h5></label>
            <select class="form-select ms-auto" id="unidad" name="unidad" style="width: 75%;" required>
                <option value="0">Gramos</option>
                <option value="1">Kilogramos</option>
                <option value="2">Toneladas</option>
            </select>
          </div>
        </div>
    </div>
    <div class="action">
        <button onclick="generarGrafico({{resultado}})">Calcular</button>
        <div class="container bg-info" id="grafico">
          {{#each resultado}}
            <p>{{this}}</p>
          {{/each}}
        </div>
        
    </div>
    </form>
  </div>
{{/partial}}

{{#partial "resultado"}}
    <div class="container">
      <canvas id="myChart"></canvas>
    </div>
{{/partial}}

{{>layoutReporte.hbs}}