{{#partial "contenido"}}
<div class="login-form">
    <form>
        <h2>Solicitud de vinculación</h2>
        <div class="content">
            <div class="dropright my-3">
                <select class="form-select my-1" name="organizacion" required  onchange="obtenerSectorDe(value)">
                    <option selected hidden disabled>Organización</option>
                    <option value="1">Org1</option>
                    <option value="2">Org2</option>
                    <option value="3">Org3</option>
                </select>
            </div>
            <div class="dropright my-3">
                <select class="form-select my-1" name="sector" id="sector" required disabled>
                    <option selected hidden disabled>Sector</option>
                    <option value="1">Sector1</option>
                    <option value="2">Sector2</option>
                    <option value="3">Sector3</option>
                </select>
            </div>
            <div class="input-field pt-3">
                <label for="exampleFormControlTextarea1">Motivo</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="text"
                          oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'></textarea>
            </div>
        </div>
        <div class="action">
            <button>Enviar solicitud</button>
        </div>
    </form>
</div>
{{/partial}}

{{>layout.hbs}}