{{#partial "contenido"}}
    <div class="login-form">
        <form action="/user/general/request/persist" method="POST">
            <h2>Solicitud de vinculación</h2>
            <div class="content">
                <div class="dropright my-3">
                    <select class="form-select my-1" name="sector" required>
                        <option selected hidden disabled>Organización - Sector</option>
                        {{#each organizaciones}}
                            {{#each sectores}}
                                <option value="{{ id }}">{{ razonSocial }} - {{ nombre }}</option>
                            {{/each}}
                        {{/each}}
                    </select>
                </div>
                <div class="input-field pt-3">
                    <label for="exampleFormControlTextarea1">Motivo</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="motivo"
                              oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' required></textarea>
                </div>
            </div>
            <div class="action">
                <button>Enviar solicitud</button>
            </div>
        </form>
    </div>
{{/partial}}

{{>layout.hbs}}